<% provide(:title, 'Sign up') %>
<% provide(:submitlabel, "Create my account") %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

    	<%= render 'userform.html.erb' %>

    <% end %>  
  </div>
</div>